/// Tablet
@media (min-width: 600px) and (max-width: 1020px) {
  .form {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
}

/// phone
@media (max-width: 599px) {
  .form {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}

/// large screen
@media (min-width: 1020px) {
  .form {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }
}
