// tablet
@media (min-width: 600px) and (max-width: 1024px) {
  .login-header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .login-form {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .forget-password {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(77, 77, 180);
    font-size: x-large;
  }
  .or {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

// mobile phone
@media (max-width: 599px) {
  .login-header {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .login-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .forget-password {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(77, 77, 180);
    font-size: x-large;
  }
  .or {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}

// large screen
@media (min-width: 1024px) {
  .login-header {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }
  .login-form {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }
  .forget-password {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(77, 77, 180);
    font-size: x-large;
  }
  .or {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}
