.form {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) and (max-width: 1024px) {
  mat-form-field {
    width: 30rem;
  }
}

@media (max-width: 600px) {
  .form {
    margin-top: 2rem;
  }
  mat-form-field {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  mat-form-field {
    width: 50rem;
  }
}
