<div class="form">
  <form [formGroup]="signUpForm">
    <div class="email_field">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (this.signUpForm.controls.email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="password_field">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide() ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (this.signUpForm.controls.password.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="username_field">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="@username"
          formControlName="username"
          (blur)="updateErrorUsername()"
          required
        />
        @if (this.signUpForm.controls.username.invalid) {
        <mat-error>{{ errorUsernameMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="bottom-button">
      <button mat-flat-button type="submit" (click)="signUp()">sign Up</button>
    </div>
  </form>
</div>
