@media (min-width: 600px) and (max-width: 1024px) {
  .header {
    font-size: x-large;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  .sign_up {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }

  .form {
    // align-content: center;
    margin-top: 6rem;
  }
  mat-form-field {
    width: 30rem;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: large;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  .sign_up {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  mat-form-field {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  .sign_up {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  mat-form-field {
    width: 50rem;
  }
}
